<h1>Forget Password</h1>


<p style="font-size: large;">Want to Go back <a href="/user/homepage" style="font-size: medium;">Home Page</a></p>

<%if(errorMessage){ %>
    <div class="alert alert-success" role="alert">
        <%= errorMessage %>


    </div>
    <%}%>

<form action="/user/forgetPassword" method="post">
    <div class="mb-3">
        <lable for="email" class="form-lable">Email</lable>
        <input type="text" class="form-control" id="email" name="email" required> 
    </div>
    
    
    <button type="submit" class="btn btn-primary">Forget Password</button>
    
    
</form>

<form action="/user/signOut" method="post">
    <button type="submit" class="btn btn-outline-success " style="margin-top: 20px;">Log Out</button>
</form>

<p style="font-size: medium;">Dont't Have an Account  <a href="/user/signUp" style="font-size: medium;">Sign-Up</a></p>
<p style="font-size: medium;">Already Have an Account  <a href="/user/signIn" style="font-size: medium;">Sign-In</a></p>