<h1>Welcome to Home Page</h1>

<form action="/user/signOut" method="post">
    <button type="submit" class="btn btn-outline-success ">Log Out</button>
</form>

<a href="/user/resetPassword" style="font-size: medium; padding: 15px; background-color: aquamarine; color: black; border-radius: 10px; margin-top: 30px;display: block; width: 200px; text-decoration: none;">Reset Password</a>
<a href="/user/forgetPassword" style="font-size: medium; padding: 15px; background-color: aquamarine; color: black; border-radius: 10px; margin-top: 30px;display: block; width: 200px; text-decoration: none;">Forget Password</a>