<h1>Welcome to Sign In Page</h1>


<%if(errorMessage){ %>
    <div class="alert alert-danger " role="alert">
        <%= errorMessage %>


    </div>
    <%}%>

<form action="/user/signIn" method="post">
    <div class="mb-3">
        <lable for="email" class="form-lable">Email Address</lable>
        <input type="email" class="form-control" id="email" name="email" required> 
    </div>
    <div class="mb-3">
        <lable for="password" class="form-lable">Password</lable>
        <input type="password" class="form-control" id="password" name="password" > 
    </div>
    <button type="submit" class="btn btn-primary">Sign-In</button>
    
    
</form>   



<a href="/auth/google" style="font-size: medium; margin-top: 20px; display: block;">Sign-in with Google</a>
<p style="font-size: medium;">Don't Have an Account  <a href="/user/signUp" style="font-size: large; ">Sign-Up</a></p>