<%if(errorMessage){ %>
    <div class="alert alert-success" role="alert">
        <%= errorMessage %>


    </div>
    <%}%>

    <p style="font-size: medium;">Already Have an Account  <a href="/user/signIn" style="font-size: large;">Sign-In</a></p>

    <p style="font-size: medium;">Don't Have an Account  <a href="/user/signUp" style="font-size: large;">Sign-Up</a></p>